[maxscale]
threads=auto  # MaxScale이 사용할 스레드 수를 자동으로 설정

[Galera-Monitor]
type=monitor
module=galeramon
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=maxscale_password
monitor_interval=2000  # 모니터링 주기(밀리초)

[Galera-Service]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=maxscale_password

[Galera-Listener]
type=listener
service=Galera-Service
protocol=MariaDBClient
port=4006

[MaxAdmin-Service]
type=service
router=cli

[MaxAdmin-Listener]
type=listener
service=MaxAdmin-Service
protocol=maxscaled
socket=default