[Galera-Monitor]
type=monitor
module=galeramon
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=maxscale_password
monitor_interval=2000

[Galera-Service]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=maxscale_password
router_options=slave_selection_criteria=LEAST_CURRENT_OPERATIONS
monitor=Galera-Monitor

[Galera-Listener]
type=listener
service=Galera-Service
protocol=MariaDBClient
port=4006
address=0.0.0.0

[MaxAdmin-Service]
type=service
router=cli

[MaxAdmin-Listener]
type=listener
service=MaxAdmin-Service
protocol=maxscaled
socket=default